/* This is copy-pasted design style from my website */

:root {
    --website-nav-btn-size: 3rem;
    --website-nav-btn-margin: 1rem;
    --background-color: rgb(26, 28, 32);
    --text-color: rgb(236, 239, 242);
    --delimiter-color: rgb(46, 48, 57);
    --link-color: rgb(115, 122, 222);
    --time-color: rgb(140, 144, 161);
    --quote-color: rgb(140, 144, 161);
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
    padding-inline: .25em;
    margin-bottom: .25em;
    margin-top: 1em;
}

code, time {
    font-family: fantasy;
    color: var(--time-color);
}

time {
    display: inline-block;
    padding-top: 1.5em;
    padding-inline: .75em;
}

a {
    color: var(--link-color);
}

a:hover {
    color: rgb(88, 95, 222);
}

hr {
    border: 1px solid var(--delimiter-color);
}

p, ul {
    max-width: 80ch;
    font-size: 1.25rem;
}

p {
    line-height: 1.6;
    padding-inline: 1rem;
    margin-block: .5rem;
}

ul {
    line-height: 1.5;
}

/*  */

:root {
	--clr-copper: 29, 57%, 46%;
	--clr-tin: 210, 2%, 83%;
	--clr-code: 240, 100%, 50%;
	--btn-height: calc(var(--fs-400) * 2);
	--fs-800: 3.5rem;
}

@media (min-width: 35em) {
	:root {
		--fs-800: 5rem;
		--fs-400: 1rem;
	}
}

@media (min-width: 45em) {
	:root {
		--fs-800: 6.25rem;
		--fs-400: 1.125rem;
	}
}

* {
  	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--fs-400);
}

article {
    /* This padding is to let the text at the bottom of the page not be covered by the #website-nav-btn */
    padding-bottom: calc(var(--website-nav-btn-size) + var(--website-nav-btn-margin));
    width: 100%;
    max-width: 800px;
}

h1 {
	font-size: var(--fs-800);
	text-align: center;
}

figure {
	margin: 0;
	margin-block: 1.5em;
}

button {
	font: inherit;
}

.overlined-text {
  text-decoration: overline;
}

figcaption {
	text-align: center;
}

table {
	margin-inline: auto;
	margin-block: 1em;
}

.logic-table th {
  	border-bottom: 1px solid white;
}

.logic-table th, .logic-table td {
	padding-inline: .75em;
}

#set-figure {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: yellow;
	padding-block: 1rem;
}

#set-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.set {
	position: absolute;
	width: 50vw;
	/* TODO fix based on the width of the text */
	max-width: 50ch; 
	aspect-ratio: 1;
	background-color: yellow;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.set:nth-child(1) {
	left: -30%;
}

.set:nth-child(2) {
	overflow: hidden;
	position: relative;
	right: -30%;
}

#sets-intersection {
	position: absolute;
	left: -60%;
	width: 100%;
	aspect-ratio: 1;
	background-color: white;
	border-radius: 100%;
	border: 1px solid black;
}

#NAND-gate-circuit-diagram {
	margin-inline: auto;
	margin-block: 1.5em;
	display: block;
}

/*  */

#not-gate, #nand-gate {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#nand-gate > div:nth-of-type(1) {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-left: .5em;
}

#nand-gate > div:nth-of-type(1) div {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

#nand-gate > div:nth-of-type(1) div p {
	margin: 0;
	padding-inline: .5em;
}

#nand-gate > div:nth-of-type(1) div hr {
	border: 1px solid goldenrod;
	width: 100%;
	height: 1px;
}

#nand-gate > div:nth-of-type(2) {
	height: 10vh;
	max-height: 120px;
	border-top-right-radius: min(10vh, 100px);
	border-bottom-right-radius: min(10vh, 100px);
	background-color: slategrey;
	width: 100%;
}

#nand-gate > div:nth-of-type(3) {
	border-radius: 100%;
	height: 3vh;
	min-height: 1rem;
	aspect-ratio: 1;
	max-height: 40px;
	background-color: silver;
}

#nand-gate > hr {
	border: 1px solid yellow;
	width: 100%;
}

#nand-gate > p {
	padding-inline: .5em;
}

/*  */

#not-gate p {
	padding-inline: .5em;
}

#not-gate hr {
	border: 1px solid goldenrod;
	width: 100%;
}

#not-gate div:nth-of-type(1) {
	outline: 2px solid goldenrod;
	height: 6vh;
	max-height: 60px;
	width: 100%;
}

#not-gate div:nth-of-type(2) {
	height: 10vh;
	max-height: 100px;
	border-top-right-radius: min(10vh, 100px);
	border-bottom-right-radius: min(10vh, 100px);
	background-color: slategrey;
	width: 100%;
}

#not-gate div:nth-of-type(3) {
	border-radius: 100%;
	height: 3vh;
	min-height: 1rem;
	aspect-ratio: 1;
	max-height: 30px;
	background-color: silver;
}
